{% load static %} {% block content %}

<div class="col-sm-4">
  <div class="border-start"><h3 class="">comment trending</h3></div>
  <div class="img fluid">
    <img
      src="https://demo.graygrids.com/themes/massive/assets/images/blog/blog-grid1.jpg"
      class="img-fluid rounded-start"
      alt="..."
      style="height: 50px"
    />
  </div>
  <div class="card-body">
    <p class="card-text">
      lead-in to additional content. This content is a little bit longer.
    </p>
    <p class="card-text">
      <small class="text-muted">Last updated 3 mins ago</small>
    </p>
  </div>
  <hr />
  <img
    src="https://demo.graygrids.com/themes/massive/assets/images/blog/blog-grid1.jpg"
    class="img-fluid rounded-start"
    alt="..."
    style="height: 50px"
  />

  <div class="card-body">
    <p class="card-text">
      lead-in to additional content. This content is a little bit longer.
    </p>
    <p class="card-text">
      <small class="text-muted">Last updated 3 mins ago</small>
    </p>
  </div>
</div>

{% endblock content %}
